$test: 0;
@if($test == 1) {
  .date,
  .upcomming-events, 
  .add-event {
    outline: 2px solid red;
  }
}

.calendar .left-side {
  background-color: c.$primary;
  flex: 1;
  padding: 30px;
  gap: 20px;
  @include flex(space-around, center, column);
  color: c.$white;

  .date {
    @include flex(center, center, column);
    font-family: f.$poppins;

    .day-num {
      font-size: 7rem;
      font-weight: 900;
    }
    .day-week {
      text-transform: uppercase;
      font-size: 1.3rem;
      font-weight: 600;
    }
  }

  .upcomming-events {
    flex: 1;
    width: 100%;
    @include flex(start, start, column);
    gap: 10px;

    .event {
      background-color: c.$white;
      color: c.$black;
      width: 100%;
      position: relative;
      padding-inline: 20px 10px;
      overflow: hidden;
      border-radius: 3px;
      @include flex(space-between);
      box-shadow: 2px 4px 5px rgba(c.$black, .1);

      .label {
        background-color: c.$secondary;
        width: 5px;
        height: 100%;
        position: absolute;
        left: 0;
      }

      .event-wrapper {
        @include flex(center, start, column);
        padding-block: 10px;
        gap: 5px;

        .event-title {
          font-size: .8rem;
        }

        .event-date {
          font-size: .8rem;
          color: c.$gray;
        }
      }

      .time {
        font-size: .7rem;
        color: c.$white;
        background-color: c.$secondary;
        padding: 5px 10px;
        border-radius: 50px;
        border: 2px solid c.$white;
        box-shadow: 0 2px 3px rgba(c.$black, .2);
      }
    }
  }

  .add-event {
    padding: 10px;
    cursor: pointer;
    width: 100%;
    @include flex(space-between);
    border-bottom: 1px solid c.$white;

    i {
      font-size: 1.2rem;
    }
  }
}