.calendar .right-side {
  flex: 2.5;
  @include toRem(padding, 40);
  @include flex(space-between, end, column);
  @include toRem(gap, 30);

  .header {
    @include flex;
    @include toRem(gap, 10);
    font-size: 1.5rem;
    font-weight: 700;

    i {
      cursor: pointer;
    }
  }

  .main-calendar {
    flex: 1;
    width: 100%;
    
    .months {
      @include flex(space-between);
      padding: 20px;
      border-bottom: 1px solid map-get($colors, 'gray');
      color: map-get($colors, 'gray');

      .active-month {
        color: map-get($colors, 'green');
        font-weight: 700;
      }
    }

    .week-days {
      @include flex(space-between);
      padding: 20px;
      color: map-get($colors, 'gray');
      font-weight: 700;
      font-family: map-get($fonts, 'Poppins');
    }
  }
}